<table class="table">
			
				<tr>
					<th>Author: {{ hello.author }}</td>
					<td><b>Comment</b>: {{ hello.text }}</td>
					<td><b>Today</b>: {{ hello.date |date: "short" }}</td>
					<td><b>Your id</b>: {{ hello._id }}</td>
					<td ng-click="ctrl.deleteContact()">&times;</td>
				</tr>

</table>	


<!-- 
<h1><b>{{ hello.author }}</b></h1>   

<p>{{ hello.text }}</p>
<h3>{{ hello.date |date: "short" }}</h3>
 -->