<div class="top">
<h2>What you can say about this video?? </h2></div>
<form name="singleComment" method="post" ng-submit="comments.addNewComment()">

    <input type="text" name="author" value="" placeholder="Enter your name here"  ng-model="comments.objects.author"></br>
    <textarea name="text" rows="4" cols="20" value="" placeholder="Enter you Comment here" ng-model="comments.objects.text"></textarea></br>
    <button id="singleComment" type="submit" name="button">Submit</button>
</form>


