<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
		"use strict";

function personFilter(obj , cb) {
	var keys = Object.keys(obj);
	var result  = [];
	for (var i = 0; i < keys.length; i++) {
	cb( obj[keys[i]] ) ? result.push(obj[keys[i]]) : console.log('err');
	}
	return result;
}
var objUser = {
	name :  12,
	lastName : -5,
	adress : 11
}
alert(personFilter(objUser, function (v) {
	if( v > 0 ) {
	return v;
	}else {
	return false;
	}
}));



</script>
</body>
</html>>