    <meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
		"use strict"										

		var object = [1,2,3,4,5];

		function map(obj,cb) {

			var keys = Object.keys(obj);

			var viparray = [];

			for (var i = 0; i < obj.length; i++) {

				viparray.push(cb(obj[keys[i]], keys[i]));
			}

			return viparray;
		}

			var call = map(object, function(item,i) {
			
			return i;
			
			});
		
			console.log(call);

</script>
</body>
</html>