header{
  height: 1000px;
  background:url(../../assets/img/about-bg.jpg) no-repeat center;
  background-size:cover;
  background-attachment:fixed;
}

.navbar-nav{
  margin-top:14px;
}

.navbar-nav .nav li{
  height:50px;
}

.navbar-nav > li > a{
  padding-top:8px;
  padding-bottom:8px;
  line-height:32px;
}

.navbar-default .navbar-nav > li > a{
  color:#fcfcfc;
  font-weight:bold;
  background-color:rgba(255,255,255,0);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color:#fff;
  background-color:transparent;
  font-weight:bold;
  outline:none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:rgba(255,255,255, 0.9);
  background-color:rgba(255,255,255, 0.1);
  font-weight:bold;
  outline:none;
}

.navbar-toggle{
  background-color:transparent;
  box-shadow:none;
  margin-top:20px;
  outline:none;
}

nav.navbar.navbar-default{
  background:none;
  box-shadow:none;
}

.navbar-brand{
  height:75px;
  font-size:18px;
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.navbar-brand span.text-title{
  text-transform:uppercase;
  font-weight:bold;
  font-family:'Open Sans';
}

@media (max-width:767px) {
  .navbar-brand span.text-title{
    display:none;
  }
}

.navbar-brand .glyphicon{
  display:inline-block;
  font-size:36px;
  color:#fff;
  vertical-align:middle;
  margin-right:20px;
  position:relative;
  top:-2px;
}

@media (min-width:768px) {
  .navbar-nav li{
    margin-left:10px;
  }
}

.categories{
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li{
  display:inline-block !important;
  float:none;
}

.post-body{
  margin-top:10px;
  font-size:16px;
  padding:20px 15px;
}

@media (min-width:992px) {
  .post-title{
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author{
  text-transform:uppercase;
  text-align:left;
  float:left;
}

.post-body figure{
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span{
  margin-left:5px;
}

.post-title h1{
  font-weight:bold;
  text-align:center;
  margin:50px 0;
}

@media (max-width:767px) {
  .post-title h1{
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer{
  padding:20px;
  text-align:center;
  background-color:#333;
  color:#fff;
}

footer h5{
  color:inherit;
  font-size:15px;
}

div.container.post{
  margin-bottom:50px;
}

h1.text-center.pageTitle{
  color:#fcfcfc;
  font-size:90px;
  font-weight:300;
  margin:15% auto 0;
  font-family:'Open Sans';
  letter-spacing:30px;
  text-indent:30px;
}

p.text-center{
  color:#fcfcfc;
  padding:10px;
  font-size:25px;
  font-weight:300;
}

hr{
  width:10%;
  margin:35px auto;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  color:#111;
  background-color:transparent;
  text-decoration:none;
  font-weight:600;
}

button.btn.btn-default{
  margin:0 auto;
  text-align:center;
}

button.btn.btn-default{
  display:block;
}

button.btn.btn-default{
  background:rgba(255, 255, 255, 0.1);
  border:none;
  color:#fcfcfc;
  font-weight:600;
  border-radius:0;
  box-shadow:none;
}

button.btn.btn-default:hover{
  background:rgba(255, 255, 255, 0.3);
}

h5.text-center{
  margin:10px auto 0;
  font-weight:800;
  padding-top:20px;
}

input#repPasswordSignIn.form-control{
  display:block;
  margin:10px auto;
  width:60%;
}

input#userLoginSignIn.form-control{
  display:block;
  margin:10px auto;
  width:60%;
}

this._element.style.display ={
  margin:0 auto;
  text-align:center;
}

label.control-label.sr-only{
  color:#000;
}

button.btn.btn-default{
  background:#;
}

button.btn.btn-default.signin-button, button.btn.btn-default.submit-button{
  background:#a08c55;
  margin:50px auto 0;
  padding:10px 50px;
  letter-spacing:5px;
}

h4.text-center{
  padding:10px;
  letter-spacing:10px;
}

a.readMore{
  font-size:16px;
}

div.row.thumbPost{
}

div.row.fullPost{
  margin:15px 0;
}

ul.nav.nav-pills.categories{
  border:none;
}

a:hover, a:focus{
  color:#aaa;
  text-decoration:none;
}

nav{
  text-align:center;
  float:none;
}

.pager .next > a, .pager .next > span{
  float:none;
}

.pager .previous > a, .pager .previous > span{
  float:none;
}

p.author{
  margin:0;
}

span.text-muted.comments{
  padding:0 0 0 10px;
}

i.glyphicon.glyphicon-arrow-up{
  color:#957d41;
}

i.glyphicon.glyphicon-arrow-down{
  color:#ccc;
}

body{
  font-family:"Open Sans", "Montserrat", "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:13px;
  line-height:1.846;
  color:#666666;
  background-color:#ffffff;
}

button.btn.btn-default.discover{
  padding:20px 40px;
}

button.btn.btn-default.discover:focus{
  outline:none;
}

li.previous{
}

a{
  border-radius:0;
}

.pager li > a, .pager li > span{
  display:inline-block;
  padding:5px 14px;
  background-color:rgba(116,116,84,0.21);
  border:none;
  border-radius:0;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:rgba(255,255,255,0.5);
}

div.comments{
  text-align:center;
  float:right;
  font-size:14px;
}

p{
  text-align:justify;
}

a{
  color:#957d41;
  text-decoration:none;
  text-align:center;
  float:none;
}

.nav > li > a:hover, .nav > li > a:focus{
  text-decoration:none;
  background-color:transparent;
  font-weight:600;
}

a{
  margin:0 auto;
}

span{
}

p{
  margin:0 0 35.5px;
}

strong{
  padding:0 5px 0 0;
}

.img-thumbnail{
  padding:0;
  line-height:1.846;
  background-color:transparent;
  border:none;
  border-radius:0;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  display:inline-block;
  max-width:600px;
  width:100%;
  height:auto;
}

button.btn.btn-default.loadMore{
  background-color:rgba(149,125,65, 0.8);
  padding: 15px 125px;
  margin: 20px auto;
}

button#userPostsArchive.btn.btn-default{
  background-color:rgba(149,125,65, 0.8);
  padding:15px 125px;
  margin:20px auto 0;
}

button.btn.btn-default.loadMore:hover, button.btn.btn-default.loadMore:focus{
  background-color:rgba(149,125,65, 1);
  outline:none;
}

.btn{
  padding:5px;
}

div.btn-group{
  padding:0 5px;
}

.nav > li > a{
  font-weight:600;
}

*:focus{
  outline:none;
}

figcaption{
  margin:10px auto 0;
  font-weight:600;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
  background-color:transparent;
  text-transform:uppercase;;
  border-color:rgba(0,0,0,0);
}

.nav > li{
  float:none;
  display:inline-block;
  margin:0 auto;
}

ul.nav.nav-tabs{
  margin:0 auto;
  display:block;
  text-align:center;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover{
  border:none;
  color:#957d41;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
  border:none;
  -webkit-box-shadow:inset 0 -2px 0 #957d41;
  box-shadow:inset 0 -2px 0 #957d41;
  color:#957d41;
}

.nav-tabs > li > a:focus:hover{
  background-color:transparent;
  -webkit-box-shadow:inset 0 -2px 0 #957d41;
  box-shadow:inset 0 -2px 0 #957d41;
  color:#6c6c6c;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover{
  background-color:transparent;
  -webkit-box-shadow:inset 0 -2px 0 #6c6c6c;
  box-shadow:inset 0 -2px 0 #6c6c6c;
  color:#6c6c6c;
}

.nav-tabs > li > a:focus:hover{
  background-color:transparent;
  -webkit-box-shadow:inset 0 -2px 0 #957d41;
  box-shadow:inset 0 -2px 0 #957d41;
  color:#6c6c6c;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover{
  background-color:transparent;
  -webkit-box-shadow:inset 0 -2px 0 #6c6c6c;
  box-shadow:inset 0 -2px 0 #6c6c6c;
  color:#6c6c6c;
}

div#loginModal.modal.fade.in{
  display:flex;
  justify-content:center;
  align-items:center;
}

div#registerModal.modal.fade.in{
  display:flex;
  justify-content:center;
  align-items:center;
}

div.form-group{
  display:block;
  margin:30px auto;
  padding:0 20px;
  width:70%;
}

@media (min-width:768px) {
  .form-inline .form-group{
    display:block;
    margin-bottom:0;
    vertical-align:middle;
  }
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus{
  -webkit-box-shadow:inset 0 -2px 0 #957d41;
  box-shadow:inset 0 -2px 0 #957d41;
}

@media (min-width:768px) {
  .form-horizontal .control-label{
    text-align:right;
    margin-bottom:0;
    padding:10px 0;
  }
}

h4.text-uppercase{
}

input.form-control{
  font-weight:300;
  font-family:'Open Sans';
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
  border:none;
  -webkit-box-shadow:inset 0 -2px 0 #957d41;
  box-shadow:inset 0 -2px 0 #957d41;
  color:#957d41;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus{
  color:#c6c6c6;
}

.collapse.in{
}

a.btn.btn-default{
  text-transform:lowercase;
  color:#957d41;
  border:none;
  border-radius:0;
  box-shadow:none;
}

.collapse{
  margin:0 -15px;
}

.collapsing{
  margin:0 -15px;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
  color:#444444;
  background-color:#d4d4d4;
  border-color:rgba(0,0,0,0);
}

.btn-default:hover{
  color:#444444;
  background-color:transparent;
  border-color:rgba(0,0,0,0);
}

.btn-default:hover, .btn-default:active:hover{
  background-color:transparent;
}

.btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover{
  outline:none;
}

button.btn.btn-default.commentPosting{
  background-color:#6c6c6c;
  padding:10px 30px;
}

textarea.commentTextarea{
  width:100%;
  margin:0 auto 30px;
  display:block;
  resize:none;
}

.panel-default > .panel-heading{
  color:#212121;
  background-color:transparent;
  border-color:transparent;
}

.panel{
  border:none;
  border-radius:0;
  -webkit-box-shadow:none;
  box-shadow:none;
}

h3.panel-title{
  font-weight:600;
  text-transform:uppercase;
  float:left;
}

button.btn.btn-default.commentPosting{
  float:right;
}

section#userPage{
  padding:40px 0;
}

h1.text-center.userGreeting{
  font-weight:300;
}

img.userAvatar{
  border-radius:50%;
  margin:40px auto;
  width:100%;
  display:block;
  max-width:150px;
}

input#file-input.chooseImagesForPost.button{
  background-color:#957d41;
}

input#file-input.chooseImagesForPost input[type=file]{
  background-color:#ccc;
}

input[type="file"]{
  display:block;
  background:initial;
}

div.form-group.register{
  width:100%;
}

a.btn.btn-default.discover{
  text-transform:uppercase;
  background:rgba(255, 255, 255, 0.3);
  color:#fcfcfc;
  font-weight:600;
  padding:20px 30px;
  margin:0 auto;
  display:block;
}

@media (max-width:500px) {
  div#discoverButton{
    width:40%;
    margin:0 auto;
  }
}

div#discoverButton{
  width:20%;
  margin:0 auto;
}

div#userSettings{
  margin:0 auto;
  display:block;
}

input.inputPostTitle{
  width:100%;
  display:block;
  margin:20px auto;
}

button#userPostsArchive.btn.btn-default:active:focus{
  text-transform:uppercase;
  color:#fcfcfc;
}

div#addPost{
  margin:50px auto;
}

button#userPostsArchive.btn.btn-default{
  margin:50px auto 0;
}

button.btn.btn-default.deleteComment{
  background-color:transparent;
  margin:20px 0 0;
  color:#ccc;
}

h1#readNews.text-center{
  font-weight:300;
  text-align:center;
  padding-top:50px;
  margin:10px auto;
}
.tab-pane {
    margin-bottom: 50px;
}
