body {
	font-size: 3em;
	background-size: no-repeat;
	background-image:url(11.jpg);
	color:black;


}
#video {
	width:700px;
	height:300px;
	float:left;
	margin:70px auto;
	position:fixed;
	right:100px;
}
.top {
	color:lightblue;

}

.colorFilter {
	color:lightblue;
}

.table {
	background: rgba(120,0,120, .2);
	border-radius:10px;

}
input {
	color :lightblue;
	display:inline-block;
	background-color: rgba(120,0,120, .2);
	margin:30px auto;
	border : 4px blue;
	border-radius: 4px;
	width:400px;
	padding:20px;
}

textarea {
	background:rgba(120,0,120, .2);
	display:inline-block;
	margin:right auto;
	color:lightblue;
	
	width:400px;
	border:3px blue;
	border-radius:8px;


	

}
button {
	background:rgba(120,0,120, .2);
	margin-right:auto;
	display:block;
	width:150px;
	color:black;
	border-radius: 8px;
}

