body{
  background:rgb(51, 0, 102);
}

.todo-wrapper {
  background:rgb(204, 102, 255);
  width: 100%;
}

h2 {
  font-size: 2em;
  background: rgb(10, 204, 163  );
  padding: 40px;
  margin: 0;
  color: rgb(255, 0, 102);
  text-align: center;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 2em;
  padding: 40px;
  background: rgb(204, 179, 255);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0, 204, 163)), to(rgb(114, 244, 233)));
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: rgb(140, 26, 255);
}

.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  text-indent: 55px;
}
.all-input {
  width: 100%;
  height: 10px;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  text-indent: 55px;
}

.add-btn {
  width: 40%;
  border: none;
  background: #29F4E3;
  padding: 0;
  height: 100px;
}
.add-btn h2 {
  background: #29F4E3;
  padding: 0;
  font-size: 4em;
  color: #333;
}

.clear-btn {
  width: 100%;
  border: none;
  height: 500px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0, 204, 163)), to(#72f4e9));
  font-size: 2em;
  color: rgb(255, 0, 102);
}
a {
  float:right;
}
