<!DOCTYPE html>
<html ng-app="myBlog">

<head>
    <!-- <base href="/"/> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Page Sompliest form</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Header.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="assets/js/angular-route.js"></script> -->
    <!-- <script src="assets/js/signIn.js"></script>
    <script src="assets/js/signUp.js"></script> -->
<!--
    <script src="assets/js/untitled.js"></script>
    <script src="assets/js/custom-ng.js"></script> -->
</head>

<body  ng-controller="mainNewsCtrl" >
    <!-- HEADER SECTION -->
    <header>

            <!-- NAVBAR SECTION -->
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><span class="text-title">BLOG </span></a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li role="presentation"><a class="text-uppercase"  href="#/"  >Home </a></li>

                            <li role="presentation"><a class="text-uppercase"  href="#/login" id="loginButton"  >Login </a></li>


                            <li role="presentation"><a class="text-uppercase" href="#/registration" id="registerButton" >Register </a></li>
                            <li role="presentation"><a class="text-uppercase" style="display: none;"  href="#/logout" id="logoutButton" onclick="window.localStorage.clear(); document.getElementById('logoutButton').style.display = 'none';
                            document.getElementById('registerButton').style.display = 'block';
                            document.getElementById('loginButton').style.display = 'block';" >Logout </a></li>
                        </ul>
                    </div>
                </div>
            </nav><!-- NAVBAR SECTION -->


            <h1 class="text-uppercase text-center pageTitle">BloG</h1>

            <!-- LOGIN MODAL SECTION -->
            <div class="modal fade" role="dialog" tabindex="-1" id="loginModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" ng-controller="loginCtrl">

                            <!-- LOGIN FORM -->
                            <form class="form-inline " name="regLogForm" novalidate ng-controller="userCtrl" ng-controller="loginCtrl"  method="post">
                                <h4 class="text-center">LOG IN</h4>
                                <!-- LOGIN -->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="email-input">Login </label>
                                    <input class="form-control"
                                    type="text"
                                    placeholder="Login"
                                    maxlength="50"
                                    minlength="4"
                                    name="login"
                                    required
                                    ng-model="login"
                                    id="userLoginSignIn"
                                    id="email-input">
                                </div><!-- END LOGIN -->

                                <!-- PASSWORD -->
                                <div class="form-group">
                                    <label class="control-label sr-only" for="password-input">Password </label>
                                    <input class="form-control"
                                    type="password"
                                    placeholder="Password"
                                    name="passw1"
                                    required
                                    ng-model="passw1"
                                    id="repPasswordSignIn"
                                    id="password-input">
                                </div><!-- END PASSWORD -->


                                <button  id="submitLogin" class="btn btn-default signin-button" ng-click="clearLoginForm(); myFunc(); signIn(); submit()"  type="submit" data-dismiss="modal">Sign in</button>
                            </form><!-- END LOGIN FORM-->

                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div><!-- END OF LOGIN MODAL SECTION -->

            <!-- REGISTRATION MODAL SECTION -->
            <div class="modal fade" role="dialog" tabindex="-1" id="registerModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row register-form">
                                <div class="col-md-12 col-md-offset-0">
                                    <!-- REGISTRATION FORM  -->
                                    <form class="form-horizontal custom-form"  name="regForm" novalidate ng-controller="userCtrl">
                                        <h4 class="text-uppercase text-center">Registration Form</h4>

                                        <!-- LOGIN -->
                                        <div class="form-group register">
                                            <div class="col-sm-4 sr-only label-column">
                                                <label class="control-label" for="name-input-field">Login </label>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1 input-column">
                                                <input id="user_login"
                                                name="login"
                                                 class="form-control"
                                                 required
                                                 type="text"
                                                 placeholder="Login"
                                                 ng-maxlength="15"
                                                 ng-minlength="6"
                                                 ng-model="login"

                                                 >
                                                 <p ng-show="regForm.login.$error.minlength" class="help-block">Username is too short.</p>
      <p ng-show="regForm.login.$error.maxlength" class="help-block">Username is too long.</p>

                                            </div>
                                        </div><!-- END LOGIN -->

                                        <!-- FULL NAME -->
                                        <div class="form-group register">
                                            <div class="col-sm-4 sr-only label-column">
                                                <label class="control-label" for="email-input-field">Full name </label>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1 input-column">
                                                <input id="user_name"
                                                class="form-control"
                                                name="fullName"
                                                type="text"
                                                ng-maxlength="20"
                                                ng-minlength="6"
                                                required
                                                placeholder="Full Name"
                                                ng-model="fullName" >
                                            <p ng-show="regForm.fullName.$error.minlength" class="help-block">Full Name is too short.</p>
     <p ng-show="regForm.fullName.$error.maxlength" class="help-block">Full Name is too long.</p>
                                            </div>
                                        </div><!-- END FULL NAME -->

                                        <!-- PASSWORD-->
                                        <div class="form-group register">
                                            <div class="col-sm-4 label-column">
                                                <label class="control-label sr-only" for="pawssword-input-field">Password </label>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1 input-column">
                                                <input id="user_password"
                                                name="passw1"
                                                class="form-control"
                                                type="password"
                                                required placeholder="Password"
                                                ng-maxlength="12"
                                                ng-minlength="6"

                                                ng-model="passw1">
                                                <p ng-show="regForm.passw1.$error.minlength" class="help-block">Password is too short.</p>
     <p ng-show="regForm.passw1.$error.maxlength" class="help-block">Password is too long.</p>
                                            </div>
                                        </div><!-- END PASSWORD -->

                                        <!-- CONFIRM PASSWORD-->
                                        <div class="form-group register">
                                            <div class="col-sm-4 label-column">
                                                <label class="control-label sr-only" for="repeat-pawssword-input-field">Repeat Password </label>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1 input-column">
                                                <input class="form-control"
                                                type="password"
                                                name="passw2"
                                                placeholder="Confirm password"
                                                required
                                                ng-model="passw2"
                                                wj-validation-error="passw2 != passw1 ? 'Passwords don\'t match' : ''" >
                                                <!-- <p ng-show="regForm.passw1 !== regForm.passw2" class="help-block">Passwords not matching</p> -->

                                            </div>
                                        </div><!-- END CONFIRM PASSWORD-->


                                        <button id="submit" class="btn btn-default submit-button" ng-click="clearForm()" data-dismiss="modal" type="submit" ng-disabled="regForm.$invalid " >Submit</button>
                                    </form><!-- REGISTRATION FORM  -->

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div><!-- REGISTRATION MODAL SECTION -->

            <hr>

            <p class="text-center">A Modern community for startup bloggers.</p>

            <div id="discoverButton"><a class="btn btn-default discover" role="button" href="#readNews">Discover now</a></div>

        </header> <!-- CLOSE HEADER SECTION -->




<!-- <div ng-view></div> -->
<ng-view></ng-view>




<!-- FOOTER SECTION  -->
    <footer>
        <h5><strong>BLOG © 2016</strong></h5>
    </footer><!-- END FOOTER SECTION  -->


    <!-- SCRIPTS  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="assets/js/angular-route.js"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>



    <script src="assets/js/untitled.js"></script>
    <script src="assets/js/custom-ng.js"></script>

    <script src="assets/js/signIn.js"></script>
        <script src="assets/js/signUp.js"></script>
        <script src="assets/js/addPost.js"></script>

</body>

</html>
