<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Todo list with AngularJS</title>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
      <link rel="stylesheet" href="css/style.css">
      <script src="angular.js"></script>
      <script src="js/index.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="todo-wrapper" ng-controller="TodoCtrl as main">
      <h2>You need  <span class="emphasis"><h2>{{main.getTotalTodos()}}</h2></span> things to do</h2>
      <input  class="all-input" type="text" ng-model="sort" placeholder="Type to search">

      <ul>

        <li ng-repeat="todo in main.objArray  | filter : sort track by $index">
          <input type="checkbox" ng-model="todo.done" ng-change =" main.updatestatusProduct(todo.id)">
          <span class="done-{{todo.done}}">
          {{todo.name}} </span>
          <a href="#" ng-click="main.deleteTodo(todo.id)">&times;</a>
        </li> 
      </ul>
        <form>
          <input class="add-input" placeholder="..." type="text" ng-model="main.obj.name" ng-model-instant>
            <button class="add-btn" ng-click="main.addProduct()"><h2>Add</h2></button>
        </form>
      <button class="clear-btn">
        <h4>Have a nice day DoN Hulio =)</h4>
      </button>
    </div>
</body>
</html>
