
<form>
	<label>
		Producer: 
		<input class="textbox" type="text" ng-model="product.product.producer">
	</label>
	<label>
		Model:
		<input class="textbox" type="text" ng-model="product.product.model">
	</label>
	<label>
		Description:
		<textarea class="textbox textarea " type="text" ng-model="product.product.description"></textarea>
	</label>
	<label>
		Price:
		<input class="textbox" type="number" ng-model="product.product.price">
	</label>
	<label>
		Image:
		<input class="textbox" type="text" ng-model="product.product.link">
	</label>
	<a class="btn btn-grey btn-raised" ng-click="product.saveProduct()()">Save</a>
</form>
