<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>

	<script src="bower_components/angular/angular.js"></script>
	<script src="application.js"></script>

	<div class="container" ng-controller="MainController as main">
	<h1>POST Me smth here please_7777777!!!</h1>
		<input type="text" ng-model="main.test">
		<input class="btn" type="submit" ng-click="main.clicker()">
		<div class="row" ng-repeat="element in main.array track by $index">

			{{element.text}}

		{{element}}

		<a href="#" ng-click="main.deletePost($index)">&times;</a>
			<br><textarea ng-model="main.item[$index]"></textarea>
		
			<p><img src="22.jpg" ></p>
			<input type="submit" value="update me"  class="btn btn-primary" ng-click="main.update($index)">
		
			
		</div>	
		

	
	</div>
</body>
</html>