body {
	font-size: 3em;
	background-size: cover;
	background-image:url(11.jpg);

}

p {
	border : 10px lightblue ;

}
input {
	color :grey;
	background-color: lightblue;
	border : 2px blue;
}
table {
	background: rgba(255,255,255, .4);
}
.text-center {
	color:lightblue;
}
footer {
	color:lightblue;

}