<!DOCTYPE html>
<html lang="en" ng-app="pagination">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<script src="libs/angular.js"></script>
	<script src="app.js"></script>

	
	<div class="container" ng-controller="PaginationController as pagination">
		
			Tell  me about 
			<input type="text" ng-model="sort">
		


		<button ng-click="pagination.x = null; reverse = false">
			Unsort!
		</button>
		<button ng-click="sort = 'Nokia'">Nokias</button>


		<!-- my table -->
		<table class="table table-bordered table-inverse">
			<thead>
				<tr>
					<th><button ng-click="pagination.sort('id')">id</button></th>
					<th><button ng-click="pagination.sort('name')">Name</button></th>
					<th><button ng-click="pagination.sort('type')">Type</button></th>
					

				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in pagination.collection  | orderBy: pagination.x | filter : sort | StartFrom: pagination.startingItem() |
		limitTo: pagination.itemsOnPage">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.type}}</td>
				</tr>
			</tbody>
		</table>

		<div class="row" >
			<div class="col-xs-18 col-xs-offset-2">

				<button class="pull-left btn btn-blue" 
				ng-disabled="pagination.firstPage()" 
				ng-click="pagination.back()">
					prev
				</button>

				<button class="pull-right btn btn-blue" 
				ng-disabled="pagination.lastPage()" 
				ng-click="pagination.next()">
					next
				</button>
				
				<div class="text-center">
					{{ pagination.currentPage + 1 }} from {{ pagination.numberOfPages() }}
				</div>

			</div>
		</div>
	</div>

	<footer>
	
		<div class ='text-center'>
			Edit by motreac Corporation and Titanium soft developers	
		</div>


		
	</footer>

</body>
</html>
 