<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Comment</title>

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container" ng-controller="CommentsController as comments ">
		<iframe id="video" src="https://www.youtube.com/embed/yadK2R7dvT8" frameborder="0" allowfullscreen></iframe>
		<div class="colorFilter">Search</br> <input type="text" placeholder="Search all comments" ng-model="sort"></div>
		<div class="add">
			<single-comment></single-comment>
		</div>
		

			<div ng-repeat="item in comments.allcomments |  filter:sort |orderBy: '-date' track by $index ">
			
			<all-comments hello="item" ctrl="comments"></all-comments>
				
			</div>
		</div>
		

	</body>
	<script src="libs/angular.js"></script>
	<script src="app/app.js"></script>
	<script src="comments/controllers/comment.js"></script>
	<script src="services/api.server.js"></script>
	<script src="services/config.server.js"></script>

	

</html>
