



    <!-- MAIN PAGE SECTION -->
    <h1 class="text-center" id="readNews">Main articles </h1>
    <h5 class="text-center">Sorted by: </h5>
    <div>
        <ul class="nav nav-tabs">
            <!-- <li ><a data-target="#tab-1" role="tab" data-toggle="tab">Popularity </a></li> -->
            <li class="active"><a data-target="#tab-2" role="tab" data-toggle="tab">Date posted</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane " role="tabpanel" id="tab-1"><!-- SORT ARTICLES BY RATING: POPULARITY -->
                <div class="container post">








                    </div>

                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-2"><!-- SORT ARTICLES BY RATING: POPULARITY -->
                    <div class="container post">

                        <div class="row thumbPost" ng-repeat="article in articles | orderBy: '-datePost' : reverse">
                            <div class="col-md-10 col-md-offset-1 post-title">
                                <h1 class="titlePost">{{ article.Post_title }}</h1><!-- POST TITLE -->

                                <div class="comments"><!-- COMMENTS THUMB-->
                                    <span><span><strong>15 </strong></span><strong>COMMENTS </strong></span>
                                    <span class="text-muted numberOfLikes" id="likes-{{ article.EntryId }}">{{ article.post_rating }}</span>
                                    <span class="text-muted"> LIKES </span>

                                    <!-- LIKE/DISLIKE BUTTONS-->
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-default like" type="button"><i class="glyphicon glyphicon-arrow-up"></i></button>
                                        <button class="btn btn-default dislike" type="button"><i class="glyphicon glyphicon-arrow-down"></i></button>
                                    </div>
                                </div><!-- END COMMENTS THUMB-->
                                <!-- AUTHOR OF POST-->
                                <p class="author"><strong>{{ article.user_name }} </strong> <span class="text-muted">{{ article.datePost | date:'medium' }}</span></p>
                                    <div class="clearfix"></div>
                            </div>

                            <div class="col-md-10 col-md-offset-1 post-body">
                                <div class="blurb">
                                    <p>{{ article.Post_text }} </p>
                                </div>

                            <!-- COLLAPSED POST CONTENT-->
                                <div class="collapsedPostContent">
                                    <div class="collapse" id="{{ article.EntryId }}">
                                        <!-- HIDDEN POST CONTENT -->
                                        <div class="col-md-12 post-body">

                                        <!-- FULL COMMENTS SECTIONS -->
                                            <section id="commentSection">
                                                    <h4 class="text-center">Comments </h4>
                                                    <!-- SEPARATE COMMENT -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">John Doe</h3>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="panel-body"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem quam, scelerisque vitae sem non, ornare condimentum leo. </span>
                                                            <button class="btn btn-default deleteComment" type="button">Delete yout comment</button>
                                                        </div>
                                                    </div><!-- END OF SEPARATE COMMENT -->

                                                    <!-- SEPARATE COMMENT -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Christopher Nolan</h3></div>
                                                        <div class="clearfix"></div>
                                                        <div class="panel-body"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem quam, scelerisque vitae sem non, ornare condimentum leo.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem quam, scelerisque vitae sem non, ornare condimentum leo.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem quam, scelerisque vitae sem non, ornare condimentum leo.&nbsp; </span></div>
                                                    </div><!-- END OF SEPARATE COMMENT -->

                                                    <!-- SEPARATE COMMENT -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Melissa Johnsons</h3></div>
                                                        <div class="clearfix"></div>
                                                        <div class="panel-body"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem quam, scelerisque vitae sem non, ornare condimentum leo. </span></div>
                                                    </div><!-- END OF SEPARATE COMMENT -->

                                                    <!-- POST A COMMENT FORM-->
                                                    <form class="commentsForm">
                                                        <div class="form-group">
                                                            <textarea class="form-control commentTextarea" rows="3" wrap="hard" spellcheck="true" required="" placeholder="Write your comment here..." maxlength="600"></textarea>
                                                            <button class="btn btn-default commentPosting" type="button">Comment</button>
                                                        </div>
                                                    </form><!-- END OF POST A COMMENT FORM -->
                                            </section><!-- END OF FULL COMMENTS SECTIONS -->


                                        </div><!-- HIDDEN POST CONTENT -->
                                    </div>
                                </div><!-- END COLLAPSED POST CONTENT-->

                                <!-- READ MORE BUTTON -->
                                <a class="btn btn-default collapse-button" data-toggle="collapse" aria-expanded="false" aria-controls="{{ article.EntryId }}" role="button" data-target="#{{ article.EntryId }}">read more...</a>

                            </div>
                        </div><!-- END POST ROW-->







                        </div>

                    </div>
                    <button class="btn btn-default loadMore" type="button">Load More...</button>

                </div>

    </div><!-- END MAIN PAGE SECTION -->
